@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using System.IO



@using Bugiz.Models
@code {
    [Parameter]
    public IList<jsonData> Data { get; set; } = new List<jsonData>(); // Correct type
}


@if (Data != null && Data.Any())
{
    @foreach (var price in Data)
    {
        <div class="col card" style="width:16rem">
            <div class="card-body">
            <h5 class="card-title">@price.Head</h5>
            <p class="card-text">@price.Description</p>
            </div>
            <div class="card-img" >
            <img src="@price.Image" alt="@price.Head" class="card-img-bottom" />
            </div>
        </div>
    }
}
else
{
    <p>No pricing data available.</p>
}
